/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   responsive.css                                     :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: bsouchet <bsouchet@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/11/21 14:54:58 by bsouchet          #+#    #+#             */
/*   Updated: 2017/02/08 21:58:09 by bsouchet         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body {background: black url("http://i.imgur.com/nsqhAof.png") repeat left top; font-family: Tahoma, Verdana, Helvetica, Arial; margin: 0; padding: 0;}	

header {padding: 35px 0 35px;}

h1 {font-size: 3vw; color: dimgrey; font-family: Tahoma, Verdana, Helvetica, Arial;}

p {font-size: 1.3vw; color: grey; font-family: Helvetica, Verdana, Tahoma, Arial;}

#content {width: 90%; color: black; margin: 0 auto;}

table {border-collapse : separate; width: 100%; margin-bottom: 65px;}
td {width: 3%; position: relative; border: 0.28vw solid transparent;}
td:before {content: ""; display: block; padding-top: 100%;}
td .at-n {width: 84%; height: 84%; position: absolute; top: 4%; left: 6%; bottom: 0; right: 0;}
td .m {width: 84%; height: 80%; position: absolute; top: 7%; left: 8%; bottom: 0; right: 0;}
td .s {width: 100%; height: 50%; position: absolute; top: 25%; left: 0%; bottom: 0; right: 0;}
td .n {width: 100%; height: 20%; position: absolute; top: 76%; left: 0%; bottom: 0; right: 0;}
td .sp1 {width: 100%; height: 10%; position: absolute; top: 56%; left: 0%; bottom: 0; right: 0;}
td .sp2 {width: 100%; height: 10%; position: absolute; top: 30%; left: 0%; bottom: 0; right: 0;}
td .sp1 p {color: #141414; text-align: center; margin: 0; padding: 0; font-family: Tahoma, Verdana, Helvetica, Arial; font-size: 0.78vw;}
td .sp2 p {color: #141414; text-align: center; margin: 0; padding: 0; font-weight: bold; font-family: Tahoma, Verdana, Helvetica, Arial; font-size: 0.82vw;}

.long-title p{font-size: 0.70vw!important;}
.non-metaux {background-color: #ffb460; border-color: rgba(255,255,255,0.3);}
.gaz-nobles {background-color: #ed484e; border-color: rgba(255,255,255,0.3);}
.metaux-alcalins {background-color: #bc70e2; border-color: rgba(255,255,255,0.3);}
.metaux-alcalino-terreux {background-color: #8294dc; border-color: rgba(255,255,255,0.3);}
.metalloides {background-color: #ffe160; border-color: rgba(255,255,255,0.3);}
.halogenes {background-color: #f5805c; border-color: rgba(255,255,255,0.3);}
.metaux-pauvres {background-color: #a2d551; border-color: rgba(255,255,255,0.3);}
.metaux-transition {background-color: #45c8e3; border-color: rgba(255,255,255,0.3);}
.lanthanides {background-color: #8fbe3c; border-color: rgba(255,255,255,0.3);}
.actinides {background-color: #769f2f; border-color: rgba(255,255,255,0.3);}

span {float: left; margin: 0; padding: 0;}

.atomic-num p {color: #141414; margin: 0; padding: 0; font-family: Tahoma, Verdana, Helvetica, Arial; font-size: 0.9vw;}
.masse p {color: #141414; text-align: right; margin: 0; padding: 0; font-family: Tahoma, Verdana, Helvetica, Arial; font-size: 0.7vw;}
.symbol p {color: #141414; text-align: center; margin: 0; font-weight: bold; padding: 0; font-family: Tahoma, Verdana, Helvetica, Arial; font-size: 1.8vw;}
.name p {color: #141414; text-align: center; margin: 0; padding: 0; font-family: Tahoma, Verdana, Helvetica, Arial; font-size: 0.78vw;}
.long-name {font-size: 0.66vw!important;}

footer {float: center; padding: 0 15px; width: 87%; margin: 0 auto; border-top: 1px solid darkgrey;}
footer p {text-align: center;}